body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}

header {
    background-color: #0c2b64;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    margin: 8px 16px;
}

h1 {
    font-size: x-large;
    margin: 0px 8px;
    padding: 8px;
}

h2 {
    font-size: large;
    margin: 0 0 8px 0;
}

.filters {
    display: grid;
    gap: 1px;
    grid-template-columns: 11ch 1fr;
    padding: 4px;
    border: solid black 1px;
    border-radius: 4px;
}

.filters>div:nth-child(odd) {
    text-align: right;
    margin-right: 8px;
}

#linechart-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 16px 12px;
}

#charts {
    display: grid;
    grid-template-columns: 800px 1fr;
    margin: 8px 0 0 0;
    gap: 8px
}

#charts>div {
    border: solid black 1px;
    border-radius: 4px;
    padding: 4px;
}